<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <button id="undo">Undo</button>
        <button id="point" class="action">Point</button>
        <button id="path" class="action">Path</button>
        <button id="save">Save</button>
        <button id="load">Load</button>
    </div>
    <div>
        <canvas id="map_canvas">

        </canvas>
    </div>
</body>
<script src="map.js"></script>
</html>